body {
  font-family: 'Noto Sans Korean';
}
img {
  max-width: 100%;
}
.container-fluid {
  background-color: #f39300;
  margin-top: 65px;
  min-height: 860px;
}

.container-fluid.main, .container-fluid.news, .container-fluid.contact {
  background: white;
}
.container-fluid.main {
  min-height: calc(100vh - 156px);
}
.container {
  max-width: 960px;
}

.navbar {
  height: 65px;
  max-width:960px; margin: 0 auto;
}

.nav-item {
  font-size: 20px;
  font-weight: normal;
}

.navbar-brand img {
  width: 120px;
  height: 30px;
}

.company .content {
  padding: 80px 0;
}

.company .subcontent .subtitle + table {
  margin-top: -15px;
}

.company table th {
  padding-right: 5px;
  text-align: center;
}

.subcontent {
  padding: 20px 0;
}
.content .title {
  font-size: 24px;
  font-weight: 600;
}

.content .desc {
  font-size: 14px;
}

.content .desc p {
  margin: 0;
  line-height: 1.8;
}

.white-box {
  text-align: center;
  background: white;
  color: black;
  display: table-cell;
  vertical-align: middle;
  height: 95px;
}

.container-fluid.company {
  color: white;
}

.recruit .item, .business .item {
  display: table;
}

.recruit .item:not(:first-child), .business .item:not(:first-child) {
  margin-top: 10px;
}

table {
  width: 100%;
}

table th, table td {
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #fcd2a0;
  padding: 10px 0;
  font-weight: 300;
}

table td a {
  font-size: 13px;
  color: white;
}

.subtitle {
  font-size: 20px;
  margin: 15px 0;
}

.content .subcontent:not(:first-child) {
  margin-top: 50px;
}

.container-fluid.company, .container-fluid.portfolio, .container-fluid.business {
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  background-image: url(../images/bg_title.png);
  background-position: center;
  background-repeat: no-repeat;
}

.container-fluid.company .content:nth-child(even) {
  background-color: #f39300;
}

.container-fluid.company .content:nth-child(odd) {
  background-color: #fea000;
}

.bg-orange {
  background-color: #f39300;
  color: white;
}

.portfolio .item-list {
  padding: 20px 0;
}
.portfolio .item {
  height: 236px;
  padding-right: 0;
  padding-left: 5px;
  margin-top: 5px;
}
.portfolio .item .item-container {
  width: 100%;
  height: 100%;
  background-color: white;
}
.portfolio .item:first-child {
  padding-left: 15px;
}
.portfolio .item:last-child {
  padding-right: 15px;
}
.portfolio .item:nth-child(2) {
  padding-right: 15px;
}
.portfolio .item:nth-child(3) {
  padding-left: 15px;
}

.portfolio .item .overlay {
  color: white;
  position: absolute;
  display: none;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  line-height: 1.2;
  margin-left: 5px;
}

.portfolio .item:first-child .overlay {
  margin-left: 15px;
}

.portfolio .item:last-child .overlay {
  margin-right: 15px;
}


.portfolio .item:hover .overlay {
  display: block;
}

.portfolio .item .overlay .name {
  font-size: 28px;
}

.portfolio .item .overlay .desc {
  font-size: 20px;
}

.portfolio .item .overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: #f39300;
  padding: 30px 0;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.footer.main {
  margin-top: 0px;
}
.footer.company {
  background-color: #fea000;
}
.footer.news, .footer.contact {
  background-color: white;
  color: black;
}
.footer .row {
  max-width: 960px;
  margin: 0 auto;
}
.main.footer {
  text-align: center;
}
.main.footer .button-list {
  float: none;
}
.footer .button-list {
  float: left;
  margin-top: 7px;
}
.footer .button-list img {
  width: 31px;
  height: 31px;
  color: white;
}
.main.footer .button-list img {
  width: 31px;
  height: 31px;
  color: #333;
}

.footer .button-list img:not(:first-child) {
  margin-left: 4px;
}

.footer .company-info .company-additional-info {
  margin-top: 20px;
}

.footer .company-info .company-additional-info p {
  font-size: 10px;
  margin: 0;
}

.footer .footer-buttons {
  margin-top: 15px;
}

.company-intro-btn {
  background: none;
  border: 1px solid white;
  height: 45px;
  cursor: pointer;
  color: white;
  float: left;
  margin-left: 15px;
  font-size: 12px;
  width: initial;
}

.footer.news .company-intro-btn, .footer.contact .company-intro-btn {
  border-color: black;
  color: black;
}

.item-list.making img {
  width: 100%;
}

.item-list.making .making-item:not(:first-child) {
  margin-top: 7px;
}

.container-fluid.business .content:nth-child(even) {
  color: white;
  background-color: #f39300;
}

.container-fluid.business .content:nth-child(odd) {
  color: black;
  background-color: white;
}


.container-fluid.business .content {
  padding: 100px 0;
}

.business .white-box {
  padding: 25px 35px;
  text-align: left;
}
.business .white-box .name {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  padding: 15px 0;
}
.business .white-box .desc {
}
.business .white-box .image {
  text-align: center;
}

.news .post-list {
  margin-top: 20px;
}
.news .post-list .post {
  font-size: 18px; 
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0
}
.news .post-list .post:first-child {
  border-top: 1px solid #ebebeb;
}

.news .post-list .post .post-date {
  text-align: right;
}

.contact .project label {
  font-size: 18px;
}

#portfolioModal .modal-body img:not(:first-child) {
  margin-top: 15px;
}

.modal-backdrop.show {
  opacity: 0.8;
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .button-list {
    margin-top: 0;
  }
  .footer .footer-buttons {
    margin-top: 0px;
  }
} 

@media (min-width: 576px) {
  .content .title {
    font-size: 32px;
  }
  .portfolio .item:nth-child(2) {
    padding-right: 0px;
  }
  .portfolio .item:nth-child(3) {
    padding-left: 7px;
  }
  .recruit .item, .business .item {
    padding: 0;
    display: table;
  }
  .recruit .item:not(:first-child), .business .item:not(:first-child) {
    padding-left: 7px;
  }
  .recruit .item:first-child, .business .item:first-child {
    padding-left: 15px;
  }
  .recruit .item:last-child {
    padding-right: 0;
  }
  .business .item:last-child {
    padding-right: 15px;
  }
  .recruit .item:not(:first-child), .business .item:not(:first-child) {
    margin-top: 0px;
  }
  .footer .company-info .company-additional-info p {
    font-size: 12px;
  }
  .company-intro-btn {
    width: 184px;
  }
  .footer .footer-buttons {
    width: 188px;
  }
  .company-intro-btn {
    margin-left: 0;
    margin-top: 40px;
  }
}